# TMDB's API configs
VITE_API_KEY=0d881a63de18a3b460f2158c6adf70c7
VITE_URL=https://api.themoviedb.org/3/movie/
VITE_IMAGE=https://image.tmdb.org/t/p/w500/
VITE_SEARCH=https://api.themoviedb.org/3/search/movie
VITE_TOP_RATED_URL=https://api.themoviedb.org/3/movie/top_rated
