# Mongo URL Database
MONGODB_URI=mongodb://localhost:27017/jaview_db

# JWT secret
JWT_SECRET=9a618248b64db62d15b300a07b00580b

# DB in docker
APP_PORT=3333
DB_USERNAME=viniciusbarbosa0202
DB_PASSWORD=4YPVrQj6dnde0W2n
DB_DOMAIN=main.3g4df
DB_DATABASE=jaview_db

# URL for cors
FRONT_URL=http://localhost:5173